{% extends 'base.html' %}

{% block content %}

{% if request.user.is_superuser %}
<!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="create-ap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create new appointment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'create_appointment' %}">{% csrf_token %}
                <div class="form-group">
                <label for="exampleFormControlSelect1">Select student</label>
                    <select name="student" class="form-control" id="exampleFormControlSelect1">
                        {% for student in students %}
                            <option value="{{student.username}}">{{student.username}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Appointment date</label>
                  <input name="date" type="date" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Counsellor</label>
                    <input name="counsellor" type="text" class="form-control" id="exampleInputPassword1" placeholder="councellor">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select subject</label>
                        <select name="subject" class="form-control" id="exampleFormControlSelect1">
                            <option value = "Depression">Depression</option>
                            <option value = "Financial / Debt">Financial / Debt</option>
                            <option value = "Children and Youth Counselling ">Children and Youth Counselling </option>
                        </select>
                    </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
      </div>
    </div>
  </div>
<div style="width: 100%; padding: 5px;">
    <h2>Welcome Admin {{request.user.username}}</h2>
    <button class="btn m-3 btn-lg btn-primary" data-toggle="modal" data-target="#create-ap">Create Appointment</button>
    <button class="btn m-3 btn-lg btn-primary">View all appointments</button>
</div>
{% else %}
<div style="width: 100%; padding: 5px;">
    <h2>Welcome {{request.user.username}} below are your appointments</h2>

</div>
<ul class="list-group">
    <li class="list-group-item">
        you will have an appointment<br>
        On: 27/02/2021<br>
        subject: Deprression<br>
        councellor: Japheth<br>
    </li>
    <li class="list-group-item">
        you will have an appointment<br>
        On: 27/02/2021<br>
        subject: Deprression<br>
        councellor: Japheth<br>
    </li>
</ul>

{% endif %}



{% endblock content %}